*, ::after, ::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
}

button:active, input[type=submit]:active, input[type=submit]:focus,
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus{
    outline: none;
}


html{
	font-size: 16px;
    scroll-behavior: smooth;
}