//HEIGHTS
$headerHeight: 60px;
$maskLeft: rgba(32, 0, 47,0);
$maskRight: rgba(32, 0, 47,1);
$h2borderTopLeft: rgba(244, 128, 255, 1);
$h2borderTopRight: rgba(244, 128, 255, 0);
$smallImageWH: 85px;


//COLORS
$black: #09000D;
$purpleDark: #20002f;
$purpleLight: #4B3158;
$pink: #C66FD0;
$brightPink: #f480ff;
$white50: #8F8097;
$white: #F8F5FA;

//
$containerW: 1000px;