*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button:active, button:focus, input[type=submit]:active, input[type=submit]:focus,
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #F8F5FA;
  background-color: #09000D;
  letter-spacing: 0.5px;
}

h1, h2, h3 {
  font-family: 'Codystar', cursive;
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #09000D;
  padding: 0 20px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header * {
  cursor: pointer;
}

header #Logo {
  max-height: 30px;
  width: auto;
}

header nav ul, header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navItem, header .icons {
  line-height: 60px;
}

header .navItem {
  margin: 0 25px;
  font-size: 13px;
}

header .icons {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner {
  width: 100%;
  height: 85vh;
  background-image: url(./images/pexels-oleg-magni-1813137.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

#banner #bannerMask {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(32, 0, 47, 0)), color-stop(70%, #20002f));
  background: linear-gradient(to right, rgba(32, 0, 47, 0), #20002f 70%);
}

#banner #bannerContent {
  position: absolute;
  right: 0;
  top: -50px;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner #bannerContent img {
  width: 230px;
  margin-bottom: 40px;
}

#banner #bannerContent h1 {
  width: auto;
  font-size: 45px;
  text-shadow: -5px 10px 6px #F8F5FA;
}

#banner #bannerContent h1 span {
  padding-left: 40px;
}

#NewsletterIcon {
  position: absolute;
  bottom: 5%;
  right: 5%;
  fill: #09000D;
  stroke: #C66FD0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.eventSectionTitle, h2 {
  font-size: 35px;
  width: 100%;
}

.eventSectionTitle {
  margin-bottom: 10px;
}

.eventSectionTitle::before, .eventSectionTitle::after {
  content: '';
  display: block;
  position: relative;
  width: 70%;
  height: 1px;
}

.eventSectionTitle::before {
  margin-bottom: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#f480ff), color-stop(70%, rgba(244, 128, 255, 0)));
  background: linear-gradient(to right, #f480ff, rgba(244, 128, 255, 0) 70%);
}

.eventSectionTitle::after {
  margin-top: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#f480ff), to(rgba(244, 128, 255, 0)));
  background: linear-gradient(to right, #f480ff, rgba(244, 128, 255, 0));
}

h3 {
  width: 100%;
  margin-bottom: 5px;
}

h3::before, h3::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
}

h3::before {
  margin-bottom: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#f480ff), color-stop(70%, rgba(244, 128, 255, 0)));
  background: linear-gradient(to right, #f480ff, rgba(244, 128, 255, 0) 70%);
}

h3::after {
  margin-top: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#f480ff), to(rgba(244, 128, 255, 0)));
  background: linear-gradient(to right, #f480ff, rgba(244, 128, 255, 0));
}

.eventCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.eventCardBig {
  width: 230px;
  height: auto;
  background-color: #20002f;
  text-align: center;
  padding-bottom: 10px;
}

.eventCardBig img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 12px;
}

.eventCardBig .title, .eventCardBig .time {
  margin-bottom: 15px;
}

.eventCardBig .date, .eventCardBig .time, .eventCardBig .detailsButton {
  font-size: 13px;
}

.eventCardBig .date, .eventCardBig .time {
  color: #8F8097;
}

.eventCardBig .detailsButton {
  padding: 15px 0 0 12px;
  margin-bottom: 10px;
  display: block;
  color: #C66FD0;
  font-weight: 600;
}

.eventCardBig .detailsButton::after {
  content: url(./icons/ArrowRight.svg);
  position: relative;
  padding-left: 12px;
}

.eventContainerSmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  text-align: left;
}

.eventContainerSmall .eventCardSmall {
  position: relative;
  padding: 5px;
  width: 100%;
  background-color: #20002f;
  margin-bottom: 4px;
}

.eventContainerSmall .eventCardSmall img {
  width: 85px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
  margin-right: 8px;
}

.eventContainerSmall .eventCardSmall .title, .eventContainerSmall .eventCardSmall .time {
  margin-bottom: 4px;
}

.eventContainerSmall .eventCardSmall .date, .eventContainerSmall .eventCardSmall .time, .eventContainerSmall .eventCardSmall .detailsButton, .eventContainerSmall .eventCardSmall .title {
  font-size: 13px;
}

.eventContainerSmall .eventCardSmall .date, .eventContainerSmall .eventCardSmall .time {
  color: #8F8097;
}

.eventContainerSmall .eventCardSmall .detailsButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: center;
  width: 100px;
  height: 20px;
  border: 1px solid #C66FD0;
  color: #C66FD0;
  background-color: #09000D;
}

.bigButtonBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.bigButtonBlock .buttonBig {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 300px;
  height: 60px;
  font-weight: 600;
  border: 1px solid #C66FD0;
  text-align: center;
  line-height: 60px;
  color: #C66FD0;
  margin: 0 10px;
}

.bigButtonBlock hr {
  width: auto;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #C66FD0;
  border: none;
}

#Gallery {
  padding-top: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#20002f), to(#09000D));
  background: linear-gradient(to bottom, #20002f, #09000D);
}

#Gallery #GalleryContainer {
  width: 1000px;
  margin: 0 auto 150px;
}

#Gallery #GalleryTitle {
  text-align: center;
  margin-bottom: 50px;
}

#Gallery #GalleryGrid {
  width: 100%;
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  gap: 8px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (19%)[5];
      grid-template-columns: repeat(5, 19%);
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
      grid-template-areas: "im1 im1 im2 im3 im4" "im6 im7 im7 im3 im5";
}

#Gallery img {
  border: 4px solid #F8F5FA;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#Gallery #img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: im1;
}

#Gallery #img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: im2;
}

#Gallery #img3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: im3;
  height: 100%;
}

#Gallery #img4 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: im4;
}

#Gallery #img5 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: im5;
}

#Gallery #img6 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: im6;
}

#Gallery #img7 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: im7;
}

#Gallery .galleryLegend {
  width: 100%;
  text-align: right;
  font-size: 12px;
  margin-bottom: 50px;
}

#SocialNetworksLinks {
  margin: 0 auto;
  text-align: center;
}

#SocialNetworksLinks svg {
  margin: 30px 20px;
}

#about {
  height: auto;
  width: 100%;
  background-image: url(./images/aboutBG.jpg);
  background-size: cover;
}

#about #aboutContainer {
  background-color: rgba(9, 0, 13, 0.8);
  padding: 100px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #aboutContainer #slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 30px;
  height: 100%;
  font-weight: 600;
}

#about #aboutContainer #aboutContent {
  padding-left: 100px;
  width: 90%;
}

#about #aboutContainer #aboutContent p {
  margin-bottom: 50px;
}

#about #aboutContainer #aboutContent #contactInfo > div {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#about #aboutContainer #aboutContent #contactInfo > div address {
  font-style: normal;
}

#about #aboutContainer #aboutContent #contactInfo > div img {
  margin-right: 10px;
}

#about #aboutContainer #aboutContent #contactInfo > div #phoneNumber {
  margin-right: 30px;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#20002f), to(#09000D));
  background: linear-gradient(to top, #20002f, #09000D);
}

footer hr {
  width: 50%;
  height: 1px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #C66FD0;
  border: none;
}

footer hr:last-of-type {
  margin-bottom: 50px;
}

footer img {
  height: 40px;
  width: auto;
  margin: 20px 0;
}

footer .footerLink {
  text-align: center;
  margin: 40px 0;
  font-size: 13px;
  position: relative;
}

footer .footerLink:not(:first-of-type)::before {
  content: url(./icons/dotFooter.svg);
  position: absolute;
  left: 50%;
  top: -130%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
/*# sourceMappingURL=styles.css.map */