*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button:active, button:focus, input[type=submit]:active, input[type=submit]:focus,
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

#bannerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header, header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner {
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #F8F5FA;
  background-color: #09000D;
  letter-spacing: 0.031em;
}

h1, h2, h3 {
  font-family: 'Codystar', cursive;
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #09000D;
  padding: 0 20px;
  z-index: 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header * {
  cursor: pointer;
}

header #Logo {
  max-height: 30px;
  width: auto;
}

header nav ul, header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navItem, header .icons {
  line-height: 60px;
}

header .navItem {
  margin: 0 1.9em;
  font-size: 0.8em;
}

header .icons {
  margin: 0 1em;
}

#banner {
  width: 100%;
  height: 85vh;
  background-image: url(./images/pexels-oleg-magni-1813137.jpg);
  margin-bottom: 5em;
}

#bannerMask {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(32, 0, 47, 0)), color-stop(70%, #20002f));
  background: linear-gradient(to right, rgba(32, 0, 47, 0), #20002f 70%);
}

#bannerContent {
  position: absolute;
  right: 0;
  top: -3rem;
  padding-right: 3%;
  height: 100%;
}

#bannerContent img {
  width: 14.375em;
  margin-bottom: 2.5em;
}

#bannerContent h1 {
  width: auto;
  font-size: 2.6em;
  text-shadow: -0.2em 0.2em 0.17em #F8F5FA;
}

#bannerContent h1 span {
  padding-left: 2.5em;
}

#NewsletterIcon {
  position: absolute;
  bottom: 5%;
  right: 5%;
  fill: #09000D;
  stroke: #C66FD0;
}

.container {
  width: 62.5em;
  margin: 0 auto;
}

#Events {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 71% 26%;
      grid-template-columns: 71% 26%;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "thisWeekend nextWeekend" "cantMiss bestSellers" "button button";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Events #ThisWeekend {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: thisWeekend;
}

#Events #NextWeekend {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nextWeekend;
  padding-top: 4.375em;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#Events #SeeAgenda {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button;
}

#Events #CantMiss {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cantMiss;
}

#Events #BestSellers {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: bestSellers;
  padding-top: 4.375em;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.eventSectionTitle, h2 {
  font-size: 2.188em;
  width: 100%;
}

.eventSectionTitle {
  grid-area: h2;
  margin-bottom: 0.286em;
}

.eventSectionTitle::before, .eventSectionTitle::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
}

.eventSectionTitle::before {
  margin-bottom: 0.229em;
  background: -webkit-gradient(linear, left top, right top, from(#f480ff), color-stop(70%, rgba(244, 128, 255, 0)));
  background: linear-gradient(to right, #f480ff, rgba(244, 128, 255, 0) 70%);
}

.eventSectionTitle::after {
  margin-top: 0.229em;
  background: -webkit-gradient(linear, left top, right top, from(#f480ff), to(rgba(244, 128, 255, 0)));
  background: linear-gradient(to right, #f480ff, rgba(244, 128, 255, 0));
}

h3 {
  width: 100%;
  margin-bottom: 0.427em;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

h3::before, h3::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
}

h3::before {
  margin-bottom: 0.267em;
  background: -webkit-gradient(linear, left top, right top, from(#f480ff), color-stop(70%, rgba(244, 128, 255, 0)));
  background: linear-gradient(to right, #f480ff, rgba(244, 128, 255, 0) 70%);
}

h3::after {
  margin-top: 0.267em;
  background: -webkit-gradient(linear, left top, right top, from(#f480ff), to(rgba(244, 128, 255, 0)));
  background: linear-gradient(to right, #f480ff, rgba(244, 128, 255, 0));
}

.eventCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 6.247em;
}

.eventCardBig {
  width: 14.368em;
  height: auto;
  background-color: #20002f;
  text-align: center;
  padding-bottom: 0.75em;
}

.eventCardBig img {
  width: 100%;
  height: 18.750em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.75em;
}

.eventCardBig .title, .eventCardBig .time {
  margin-bottom: 0.95em;
}

.eventCardBig .date, .eventCardBig .time, .eventCardBig .detailsButton {
  font-size: 0.813em;
}

.eventCardBig .date, .eventCardBig .time {
  color: #8F8097;
}

.eventCardBig .detailsButton {
  padding: 1em 0 0 0.75em;
  margin-bottom: 0.75em;
  display: block;
  color: #C66FD0;
  font-weight: 600;
}

.eventCardBig .detailsButton::after {
  content: url(./icons/ArrowRight.svg);
  position: relative;
  padding-left: 0.75em;
}

.eventContainerSmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: left;
}

.eventContainerSmall .eventCardSmall {
  position: relative;
  padding: 0.313em;
  width: 100%;
  background-color: #20002f;
  margin-bottom: 0.5em;
}

.eventContainerSmall .eventCardSmall img {
  width: 85px;
  height: 85px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
  margin-right: 0.5em;
}

.eventContainerSmall .eventCardSmall .title, .eventContainerSmall .eventCardSmall .time {
  margin-bottom: 0.7em;
}

.eventContainerSmall .eventCardSmall .date, .eventContainerSmall .eventCardSmall .time, .eventContainerSmall .eventCardSmall .detailsButton, .eventContainerSmall .eventCardSmall .title {
  font-size: 0.8em;
}

.eventContainerSmall .eventCardSmall .date, .eventContainerSmall .eventCardSmall .time {
  color: #8F8097;
}

.eventContainerSmall .eventCardSmall .detailsButton {
  position: absolute;
  bottom: 0.313em;
  right: 0.313em;
  text-align: center;
  width: 7.8em;
  height: 1.5em;
  line-height: 1.5em;
  border: 1px solid #C66FD0;
  color: #C66FD0;
  background-color: #09000D;
}

.bigButtonBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.bigButtonBlock .buttonBig {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 18.750em;
  height: 3.750em;
  font-weight: 600;
  border: 1px solid #C66FD0;
  text-align: center;
  line-height: 3.750em;
  color: #C66FD0;
  margin: 0 10px;
}

.bigButtonBlock hr {
  width: auto;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #C66FD0;
  border: none;
}

#Gallery {
  padding-top: 3.725em;
  background: -webkit-gradient(linear, left top, left bottom, from(#20002f), to(#09000D));
  background: linear-gradient(to bottom, #20002f, #09000D);
}

#Gallery .container {
  margin: 0 auto 11em;
}

#Gallery #GalleryTitle {
  text-align: center;
  margin-bottom: 2em;
}

#Gallery #GalleryGrid {
  width: 100%;
  margin-bottom: 0.625em;
  display: -ms-grid;
  display: grid;
  gap: 0.6em 0.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (19%)[5];
      grid-template-columns: repeat(5, 19%);
  -ms-grid-rows: (12.5em)[2];
      grid-template-rows: repeat(2, 12.5em);
      grid-template-areas: "im1 im1 im2 im3 im4" "im6 im7 im7 im3 im5";
}

#Gallery img {
  border: 0.3em solid #F8F5FA;
  -o-object-fit: cover;
     object-fit: cover;
  height: 12.5em;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#Gallery #img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: im1;
}

#Gallery #img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: im2;
}

#Gallery #img3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: im3;
  height: 100%;
}

#Gallery #img4 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: im4;
}

#Gallery #img5 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: im5;
}

#Gallery #img6 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: im6;
}

#Gallery #img7 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: im7;
}

#Gallery .galleryLegend {
  width: 100%;
  text-align: right;
  font-size: 0.77em;
  margin-bottom: 4.5em;
}

#SocialNetworksLinks {
  margin: 0 auto 100px;
  text-align: center;
}

#SocialNetworksLinks svg {
  margin: 2.25em 2em;
}

#about {
  height: auto;
  width: 100%;
  background-image: url(./images/aboutBG.jpg);
  background-size: cover;
}

#about .container {
  background-color: rgba(9, 0, 13, 0.8);
  padding: 7.5em 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .container #slogan {
  font-size: 1.75em;
  font-weight: 600;
  text-align: right;
  width: 45%;
}

#about .container #aboutContent {
  padding-left: 8%;
  width: 50%;
}

#about .container #aboutContent p {
  margin-bottom: 3.125em;
  line-height: 1.3em;
}

#about .container #aboutContent #contactInfo > div {
  font-size: 0.88em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75em;
}

#about .container #aboutContent #contactInfo > div address {
  font-style: normal;
}

#about .container #aboutContent #contactInfo > div img {
  margin-right: 0.75em;
}

#about .container #aboutContent #contactInfo > div #phoneNumber {
  margin-right: 2.25em;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7em;
  background: -webkit-gradient(linear, left bottom, left top, from(#20002f), to(#09000D));
  background: linear-gradient(to top, #20002f, #09000D);
}

footer hr {
  width: 50%;
  height: 1px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #C66FD0;
  border: none;
}

footer hr:last-of-type {
  margin-bottom: 50px;
}

footer img {
  height: 3em;
  width: auto;
  margin: 1.25em 0;
}

footer .footerLink {
  text-align: center;
  margin: 3em 0;
  font-size: 0.8em;
  position: relative;
}

footer .footerLink:not(:first-of-type)::before {
  content: url(./icons/dotFooter.svg);
  position: absolute;
  left: 50%;
  top: -130%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.7em;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}
/*# sourceMappingURL=styles.css.map */