@import '_variables.scss';
@import '_reset.scss';

//*************** GÉNÉRAL ***********
body{
    font-family: 'Montserrat', sans-serif;
    color: $white;
    background-color: $black;
    letter-spacing: 0.5px;
}

h1, h2, h3{
    font-family: 'Codystar', cursive;
    font-weight: 300;
}


//*************** HEADER ***********
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    background-color: $black;
    padding: 0 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

    *{
        cursor: pointer;
    }

    #Logo{
        max-height: 30px;
        width: auto;
    }

    nav ul, ul{
        display: flex;
    }

    .navItem, .icons{
        line-height: $headerHeight;
    }

    .navItem{
        margin: 0 25px;
        font-size: 13px;
    }
    .icons{
        margin: 0 15px;
        display: flex;
        align-items: center;
    }
}

//*************** BANNER ***********
#banner{
    width: 100%;
    height: 85vh;
    background-image: url(./images/pexels-oleg-magni-1813137.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
    
    #bannerMask{
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, $maskLeft, $maskRight 70%);
    }

    #bannerContent{
        position: absolute;
        right: 0;
        top: -50px;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 230px;
            margin-bottom: 40px;
        }
        h1{
            width: 770px;
            font-size: 45px;
            text-shadow: -5px 10px 6px $white;
            span{
                padding-left: 40px;
            }
        }
    }
}

#NewsletterIcon{
    position: absolute;
    bottom: 5%;
    right: 5%;
    fill: $black;
    stroke: $pink;    
}

.container{
    width: 1000px;
    margin: 0 auto;
}

h2{
    font-size: 35px;
    width: 100%;
    margin-bottom: 10px;
    &::before, &::after{
        content: '';
        display: block;
        position: relative;
        width: 70%;
        height: 1px;
    }
    &::before{
        margin-bottom: 8px;
        background: linear-gradient(to right, $h2borderTopLeft, $h2borderTopRight 70%) ;
    }
    &::after{
        margin-top: 8px;
        background: linear-gradient(to right, $h2borderTopLeft, $h2borderTopRight);
    }
}
h3{
    &::before, &::after{
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 1px;
    }
    width: 100%;
    margin-bottom: 5px;
    &::before{
        margin-bottom: 4px;
        background: linear-gradient(to right, $h2borderTopLeft, $h2borderTopRight 70%) ;
    }
    &::after{
        margin-top: 4px;
        background: linear-gradient(to right, $h2borderTopLeft, $h2borderTopRight);
    }
}
.eventCardContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.eventCardBig{
    width: 230px;
    height: auto;
    background-color: $purpleDark;
    text-align: center;
    padding-bottom: 10px;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 12px;
    }
    .title, .time{
        margin-bottom: 15px;
    }
    .date, .time, .detailsButton{
        font-size: 13px;
    }
    .date, .time{
        color: $white50;
    }

    .detailsButton{
        padding: 15px 0 0 12px;
        margin-bottom: 10px;
        display: block;
        color: $pink;
        font-weight: 600;
        &::after{
            content: url(./icons/ArrowRight.svg);
            position: relative;
            padding-left: 12px;
        }
    }
}
.eventContainerSmall{
    display: flex;
    flex-direction: column;
    width: 260px;
    text-align: left;
    .eventCardSmall{
        position: relative;
        padding: 5px;
        width: 100%;
        background-color: $purpleDark;
        margin-bottom: 4px;
        img{
            width: $smallImageWH;
            height: 100%;
            object-fit: cover;
            float: left;
            margin-right: 8px;
        }
        .title, .time{
            margin-bottom: 4px;
        }
        .date, .time, .detailsButton, .title{
            font-size: 13px;
        }
        .date, .time{
            color: $white50;
        }
        .detailsButton{
            position: absolute;
            bottom: 5px;
            right: 5px;
            text-align: center;
            width: 100px;
            height: 20px;
            border: 1px solid $pink;
            color: $pink;
            background-color: $black;
        }
    }
}
.bigButtonBlock{
    display: flex;
    align-items: center;
    width: 100%;
    .buttonBig{
        display: block;
        justify-self: center;
        width: 300px;
        height: 60px;
        font-weight: 600;
        border: 1px solid $pink;
        text-align: center;
        line-height: 60px;
        color: $pink;
        margin: 0 10px;
    }
    hr{
        width: auto;
        height: 1px;
        flex-grow: 1;
        background-color: $pink;
        border: none;
    }
}