@import '_variables.scss';
@import '_reset.scss';
@import '_placeholders.scss';

//*************** GÉNÉRAL ***********
body{
    font-family: 'Montserrat', sans-serif;
    color: $white;
    background-color: $black;
    letter-spacing: 0.031em;
}

h1, h2, h3{
    font-family: 'Codystar', cursive;
    font-weight: 300;
}


//*************** HEADER ***********
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    background-color: $black;
    padding: 0 20px;
    z-index: 10;
    @extend %flexRcenterY;
    justify-content: space-between;
    
    *{
        cursor: pointer;
    }

    #Logo{
        max-height: 30px;
        width: auto;
    }

    nav ul, ul{
        display: flex;
    }

    .navItem, .icons{
        line-height: $headerHeight;
    }

    .navItem{
        margin: 0 1.9em;
        font-size: 0.8em;
    }
    .icons{
        margin: 0 1em;
        @extend %flexRcenterY;
    }
}

//*************** BANNER ***********
#banner{
    width: 100%;
    height: 85vh;
    background-image: url(./images/pexels-oleg-magni-1813137.jpg);
    @extend %covNoRep;
    margin-bottom: 5em;
}
#bannerMask{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, $maskLeft, $maskRight 70%);
}

#bannerContent{
    position: absolute;
    right: 0;
    top: -3rem;
    padding-right: 3%;
    height: 100%;
    @extend %flexCcenter;
    
    img{
        width: 14.375em;
        margin-bottom: 2.5em;
    }
    h1{
        width: auto;
        font-size: 2.6em;
        text-shadow: -0.2em 0.2em 0.17em $white;
        span{
            padding-left: 2.5em;
        }
    }
}

#NewsletterIcon{
    position: absolute;
    bottom: 5%;
    right: 5%;
    fill: $black;
    stroke: $pink;    
}

//*************** EVENTS ***********
.container{
    width: $containerW;
    margin: 0 auto;
}

#Events{
    display: grid;
    grid-template-columns: 71% 26%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "thisWeekend nextWeekend"
                        "cantMiss bestSellers"
                        "button button"
    ;
    justify-content: space-between;
    #ThisWeekend{
        grid-area: thisWeekend;
    }
    #NextWeekend{
        grid-area: nextWeekend;
        padding-top: 4.375em;
        justify-self: stretch;
    }
    #SeeAgenda{
        grid-area: button;
    }
    #CantMiss{
        grid-area: cantMiss;
    }
    #BestSellers{
        grid-area: bestSellers;
        padding-top: 4.375em;
        justify-self: stretch;
    }
}

.eventSectionTitle, h2{
    font-size: 2.188em;
    width: 100%;
}

.eventSectionTitle{
    grid-area: h2;
    margin-bottom: 0.286em;
    &::before, &::after{
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 1px;
    }
    &::before{
        margin-bottom: 0.229em;
        background: linear-gradient(to right, $h2borderTopLeft, $h2borderTopRight 70%) ;
    }
    &::after{
        margin-top: 0.229em;
        background: linear-gradient(to right, $h2borderTopLeft, $h2borderTopRight);
    }
}
h3{
    &::before, &::after{
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 1px;
    }
    width: 100%;
    margin-bottom: 0.427em;
    justify-self: stretch;
    &::before{
        margin-bottom: 0.267em;
        background: linear-gradient(to right, $h2borderTopLeft, $h2borderTopRight 70%) ;
    }
    &::after{
        margin-top: 0.267em;
        background: linear-gradient(to right, $h2borderTopLeft, $h2borderTopRight);
    }
}
.eventCardContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6.247em;
}

.eventCardBig{
    width: 14.368em;
    height: auto;
    background-color: $purpleDark;
    text-align: center;
    padding-bottom: 0.75em;
    img{
        width: 100%;
        height: 18.750em;
        object-fit: cover;
        margin-bottom: 0.75em;
    }
    .title, .time{
        margin-bottom: 0.95em;
    }
    .date, .time, .detailsButton{
        font-size: 0.813em;
    }
    .date, .time{
        color: $white50;
    }

    .detailsButton{
        padding: 1em 0 0 0.75em;
        margin-bottom: 0.75em;
        display: block;
        color: $pink;
        font-weight: 600;
        &::after{
            content: url(./icons/ArrowRight.svg);
            position: relative;
            padding-left: 0.75em;
        }
    }
}
.eventContainerSmall{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    .eventCardSmall{
        position: relative;
        padding: 0.313em;
        width: 100%;
        background-color: $purpleDark;
        margin-bottom: 0.5em;
        img{
            width: $smallImageWH;
            height: $smallImageWH;
            object-fit: cover;
            float: left;
            margin-right: 0.5em;
        }
        .title, .time{
            margin-bottom: 0.7em;
        }
        .date, .time, .detailsButton, .title{
            font-size: 0.8em;
        }
        .date, .time{
            color: $white50;
        }
        .detailsButton{
            position: absolute;
            bottom: 0.313em;
            right: 0.313em;
            text-align: center;
            width: 7.8em;
            height: 1.5em;
            line-height: 1.5em;
            border: 1px solid $pink;
            color: $pink;
            background-color: $black;
        }
    }
}
.bigButtonBlock{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    .buttonBig{
        display: block;
        justify-self: center;
        width: 18.750em;
        height: 3.750em;
        font-weight: 600;
        border: 1px solid $pink;
        text-align: center;
        line-height: 3.750em;
        color: $pink;
        margin: 0 10px;
    }
    hr{
        width: auto;
        height: 1px;
        flex-grow: 1;
        background-color: $pink;
        border: none;
    }
}

//*************** GALLERY ***********

#Gallery{
    padding-top: 3.725em;
    background: linear-gradient(to bottom, $purpleDark, $black);
    .container{
        margin: 0 auto 11em;
    }
    #GalleryTitle{
    text-align: center;
    margin-bottom: 2em;
    }
    #GalleryGrid{
        width: 100%;
        margin-bottom: 0.625em;
        display: grid;
        gap: 0.6em 0.6em;
        justify-content: center;
        grid-template-columns: repeat(5, 19%);
        grid-template-rows: repeat(2,12.5em);
        grid-template-areas: "im1 im1 im2 im3 im4"
                            "im6 im7 im7 im3 im5";
    }

    img{
        border: 0.3em solid $white;
        object-fit: cover;
        height: 12.5em;
        justify-self: stretch;
    }

    #img1{
        grid-area: im1;
        
    }
    #img2{
        grid-area: im2;
    }

    #img3{
        grid-area: im3;
        height: 100%;
    }
    #img4{
        grid-area: im4;

    }
    #img5{
        grid-area: im5;

    }
    #img6{
        grid-area: im6;
    }
    #img7{
        grid-area: im7;
    }
    .galleryLegend{
        width: 100%;
        text-align: right;
        font-size: 0.77em;
        margin-bottom: 4.5em;
    }
}
#SocialNetworksLinks{
    margin: 0 auto 100px;
    text-align: center;
    svg{
        margin: 2.25em 2em;
    }
}

//*************** ABOUT ***********

#about{
    height: auto;
    width: 100%;
    background-image: url(./images/aboutBG.jpg);
    background-size: cover;
    .container{
        background-color: rgba($color: $black, $alpha: 0.8);
        padding: 7.5em 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        #slogan{
            font-size: 1.75em;
            font-weight: 600;
            text-align: right;
            width: 45%;
        }
        #aboutContent{
            padding-left: 8%;
            width: 50%;
            p{
                margin-bottom: 3.125em;
                line-height: 1.3em;
            }
            #contactInfo>div{
                font-size: 0.88em;
                display: flex;
                align-items: center;
                margin-bottom: 0.75em;
                address{
                    font-style: normal;
                }
                img{
                    margin-right: 0.75em;
                }
                #phoneNumber{
                    margin-right: 2.25em;
                }
            }
        }
    }
}

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7em;
    background: linear-gradient(to top, $purpleDark, $black);
    hr{
        width: 50%;
        height: 1px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-color: $pink;
        border: none;
        &:last-of-type{
            margin-bottom: 50px;
        }
    }
    img{
        height: 3em;
        width: auto;
        margin: 1.25em 0;
    }
    .footerLink{
        text-align: center;
        margin: 3em 0;
        font-size: 0.9em;
        position: relative;
        &:not(:first-of-type)::before{
            content: url(./icons/dotFooter.svg);
            position: absolute;
            left: 50%;
            top: -130%;
            transform: translate(-50%, -50%);
        }
    }
    .copyright{
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 0.75em;
    }
}

@media screen and (max-width:1100px){
    html{
        font-size: 14px;
    }
}